<!-- Navbar -->
<header>
  <nav>
    <div class="logo-container">
      <img src="assets/logomochila.jpg" alt="Logo de MochilaTrips" class="logo">
    </div>
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="destinos.html">Destinos</a></li>
      <li><a href="plan-viaje.html">Planes</a></li>
      <li><a href="usuario.html">Perfil</a></li>
      <li><a href="index.html" onclick="cerrarSesion()">Cerrar Sesión</a></li>
    </ul>
  </nav>
</header>

<div class="destinos-container">
  <div *ngFor="let destino of destinos" class="destino-card">
    <div class="imagenes">
      <img *ngIf="destino.imagen1" class="img-grande" [src]="destino.imagen1" alt="Imagen 1">
    </div>
    <h2>{{ destino.pais }} - {{ destino.ciudad }}</h2>
    <p><strong>Precio:</strong> {{ destino.precio }}</p>
    <p><strong>Duración:</strong> {{ destino.duracion || 'No especificada' }}</p>
    <p><strong>Desde:</strong> {{ destino.fecha_inicio }}</p>
    <p><strong>Hasta:</strong> {{ destino.fecha_final }}</p>
    <p><strong>Descripción:</strong> {{ destino.descripcion }}</p>

    <div class="imagenes">
      <img *ngIf="destino.imagen2" [src]="destino.imagen2" alt="Imagen 2">
      <img *ngIf="destino.imagen3" [src]="destino.imagen3" alt="Imagen 3">
      <img *ngIf="destino.imagen4" [src]="destino.imagen4" alt="Imagen 4">
    </div>
  </div>
</div>


<!-- Footer -->
<footer>
  <p>&copy; 2025 MochilaTrips - Todos los derechos reservados</p>
</footer>