<div class="container">
    <h2>Registro de Usuario</h2>
    <form>
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario" placeholder="" value="" />

        <label for="correo">Correo</label>
        <input type="email" id="correo" name="correo" placeholder=""value="" />

        <label for="clave">Clave</label>
        <input type="password" id="clave" name="clave" placeholder="*****"value="" />

        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="" value="" />

        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" name="telefono" placeholder="" value="" />

        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" name="direccion" placeholder="" value="" />

        <label for="ciudad">Ciudad</label>
        <input type="text" id="ciudad" name="ciudad" placeholder="" value="" />

        <label for="preferencias_de_viaje">Preferencias de Viaje</label>
        <input type="text" id="preferencias_de_viaje" name="preferencias_de_viaje"placeholder="Excursiones, playa, pareja" value="" />

        <label for="rol">Rol</label>
        <input type="text" id="rol" name="rol" placeholder="Usuario" value="" />

        <button type="submit" class="btn-submit">Registrar</button>
    </form>
</div>