<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form>
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" placeholder="Ingresa tu usuario" />
        </div>

        <div class="form-group">
            <label for="clave">Contraseña</label>
            <input type="password" id="clave" name="clave" placeholder="Ingresa tu contraseña" />
        </div>

        <button type="submit" class="login">Entrar</button>
    </form>
</div>